.root {
    position: relative;
}

.label {
    position: absolute;
    z-index: 2;
    top: toRem(7px);
    left: var(--mantine-spacing-sm);
    pointer-events: none;
    color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-3));
    transition:
        transform 150ms ease,
        font-size 150ms ease,
        color 150ms ease;

    &[data-floating] {
        transform: translate(calc(var(--mantine-spacing-sm) * -1), toRem(-28px));
        font-size: var(--mantine-font-size-xs);
        font-weight: 500;
        color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    }
}

.required {
    transition: opacity 150ms ease;
    opacity: 0;

    [data-floating] & {
        opacity: 1;
    }
}

.input {
    &::placeholder {
        transition: color 150ms ease;
        color: transparent;
    }

    &[data-floating] {
        &::placeholder {
            color: var(--mantine-color-placeholder);
        }
    }
}

.control {
    width: toRem(200px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);
    border: toRem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
    transition: background-color 150ms ease;
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));

    &[data-expanded] {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
    }

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
    }
}

.label {
    font-weight: 500;
    margin-left: 8px;
    font-size: var(--mantine-font-size-sm);
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    margin-bottom: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.card {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    width: 80vw;
    max-width: 600px;
}

.title {
    font-family:
        Greycliff CF,
        var(--mantine-font-family);
    font-weight: 700;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: var(--mantine-radius-md);
    height: toRem(90px);
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
    transition:
        box-shadow 150ms ease,
        transform 100ms ease;

    @mixin hover {
        box-shadow: var(--mantine-shadow-md);
        transform: scale(1.05);
    }
}

.link {
    text-decoration: none;
    color: white;
    padding: 12px;
    margin-top: 6px;
    background-color: #A90039;
    border-radius: 8px;
    padding: 0 16px;
}