.header {
    height: toRem(56px);
    margin-top: toRem(120px);
    margin-bottom: toRem(120px);
    background-color: var(--mantine-color-body);
    border-bottom: toRem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
    height: toRem(56px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    display: block;
    line-height: 1;
    padding: toRem(8px) toRem(12px);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }

    [data-mantine-color-scheme] &[data-active] {
        background-color: var(--mantine-color-blue-filled);
        color: var(--mantine-color-white);
    }
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: var(--mantine-radius-md);
    height: toRem(90px);
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
    transition:
        box-shadow 150ms ease,
        transform 100ms ease;

    @mixin hover {
        box-shadow: var(--mantine-shadow-md);
        transform: scale(1.05);
    }
}